[^{:datomic/tag true
   :model.attr/apenas-runtime? false}
 default

  ^:interface
  Person
  [^String name]

  Employee
  [^String name
   ^{:datomic/type          :db.type/tuple
     :datomic/tupleType     :db/long
     :model.attr/persisted? true} tupla
   ^{:type             String
     :doc              "The very employee number of this employee"
     :datomic/unique   :db.unique/identity
     :datomic/fulltext false}
   number
   ^Float salary
   ^Integer age
   ^DateTime start-date
   ^Employee supervisor
   ^{:type        Employee
     :cardinality [0 n]
     :doc         "Has documentation"
     :deprecation "But also deprecation"}
   co-workers
   ^{:datomic/type               :db.type/keyword
     :model.attr/apenas-runtime? true}
   keyword-type
   ^{:datomic/type :db.type/uri}
   uri-type
   ^{:datomic/type :db.type/double}
   double-type
   ^{:datomic/type :db.type/bigdec
     :deprecation  "This is deprecated"}
   bigdec-type
   ^EmploymentType employment-type
   ^SearchResult last-search-results]

  ^{:union true}
  SearchResult
  [Employee Person EmploymentType]

  ^{:enum true
    :model.attr/dominio :enum/teste}
  EmploymentType
  [FULL_TIME
   ^{:doc "Documented enum"}
   PART_TIME]]